{% extends "tasks/layout.html" %}

{% block body %}

<h1>{{ message }}</h1>
    <div class="form-container">

        <form method="POST" action="">

            <a href="{% url 'index' %}" class="btn-submit"><-Back to Tasks</a>

            {% csrf_token %}
            <div class="form-group">
                {{ form.title.label }} :
                {{ form.title }}
            </div>
            <div class="form-group">
                {{ form.description.label }} :
                {{ form.description }}
            </div>

            <div class="form-group">
                <input type="submit" value="{{ message }}" class="btn-submit">
            </div>

        </form>
    </div>
{% endblock %}

